.dropDownMenu {
    padding: 20px 10px;
    background-color: #000000;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5%);
    border-radius: 5px;
    
    &::after {
        content: "";
        position: absolute;
        top: -8%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #000000 transparent;
    }

    .dropDownItem {
        color: #808080;

        a {
            font-weight: 600;
            font-size: 12px;
            padding: 4px 30px;
        }
    }
}